html  {
  height: 100%;
  width: 100%;
  font-size: 1rem;
  font-family: 'Cabin', sans-serif;
}

.container {
  width: 100%;
  height: 100%;
  margin: auto;
  margin-top: 20%;
}

.card-container {
  margin: auto;
  height: 100%;
  width: 60%
}

.user-form {
  margin: 40px auto;
  width: 50%;
}

.title {
  position: relative;
  background-color: white;
  top: -80px;
  font-size: 2rem;
  text-align: center;
}

.save-btn {
  width: 100%;
}

#nav-container {
  border-radius: 10px;
  position: fixed;
  top:0;
  left: 0;
  background-color: none;
}
